body {
  background-color: gray;
}

div {
  width: 400px;
  height: 200px;
  border: 10px dashed red;
  margin: 20px auto;
  background-image: url("../img/puppy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.two {
  box-sizing: border-box;
}
